@page
@model MVVM.Pages.RegistrarTrabajoRecepcionalModel
@{
    ViewData["Title"] = "Registrar trabajo recepcional";
    string URL_REGISTRAR_TRABAJO_RECEPCIONAL = "https://" + Request.Host + Request.Path;
    int NUMERO_DE_TECLA_ENTER = 13;
    string HANDLER_PLADEAFEI = "pladeasfei";
    string HANDLER_PROYECTO_DE_INVESTIGACION = "proyectosDeInvestigacion";
    string HANDLER_VINCULACION = "vinculaciones";
    string HANDLER_SINODALES = "sinodales";
    string HANDLER_ALUMNOS = "alumnos";
    string HANDLER_INTEGRANTES = "integrantes";
}

<h1 class="mb-3">Registrar trabajo recepcional</h1>

<form id="formRegistrarTrabajoRecepcional" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" />

    <div id="identificadores">
        <div class="form-group">
            <div class="form-group">
                <label for="inputNombreDeTrabajoRecepcional">Nombre del trabajo recepcional</label>
                <input type="text" asp-for="TrabajoRecepcional.Nombre" class="form-control" id="inputNombreDeTrabajoRecepcional" placeholder="Escriba el nombre">
                <span asp-validation-for="TrabajoRecepcional.Nombre" class="text-danger" />
            </div>

            <div class="form-group">
                <label class="form-text">Modalidad</label>
                <select class="form-control" asp-for="@Model.TrabajoRecepcional.Modalidad" asp-items="Html.GetEnumSelectList<Modalidades>()">
                    <option selected="selected" value="">Seleccione una opción</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inputArchivoDeAnteproyecto">Subir archivo de anteproyecto</label>
                <input type="file" asp-for="TrabajoRecepcional.Anteproyecto" class="form-control" id="inputArchivoDeAnteproyecto">
                <span asp-validation-for="TrabajoRecepcional.Anteproyecto" class="text-danger"></span>
            </div>
        </div>
        <div class="clearfix">
            <input class="btn btn-primary float-right" type="button" id="btnSeleccionarAlumnos" value="Seleccionar alumnos" />
        </div>
    </div>

    <div id="seleccionarAlumnos">
        <h2 class="form-text">Seleccione un alumno</h2>
        <div class="form-group">
            <input id="searchBuscarAlumnos" class="form-control" type="search" placeholder="Buscar" />

            <div class="table-responsive">
                <table id="tblAlumnos" class="table table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AlumnosDelMaestro[0].Nombre)</th>
                            <th>Matrícula</th>
                            <th>Correo electrónico</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var alumno in Model.AlumnosDelMaestro)
                        {
                            <tr>
                                <td class="tdAlumnoID" hidden>@alumno.ID</td>
                                <td>@alumno.Nombre</td>
                                <td>@alumno.Matricula</td>
                                <td>@alumno.CorreoElectronico</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

            <input id="inputAlumnoID" hidden asp-for="IDAlumnoSeleccionado" />

            <div class="clearfix">
                <input class="btn btn-secondary float-left" id="btnRegresarIdentificadores" type="button" value="Regresar" />
                <input class="btn btn-primary float-right" type="button" id="btnSeleccionarTipoDeProyecto" value="Seleccionar tipo de proyecto" />
            </div>
        </div>
    </div>

    <div id="seleccionarTipoDeProyecto">
        <div class="form-group">
            <label class="form-text">Tipo de proyecto al que pertenece</label>
            <select id="selectSeleccionarTipoDeProyecto" class="form-control">
                <option value="" selected disabled hidden>Seleccione aquí</option>
                <option value="vinculacion">Vinculación</option>
                <option value="pladeafei">PLADEAFEI</option>
                <option value="proyectoDeInvestigacion">Proyecto de investigación</option>
            </select>
        </div>

        <div class="form-group" id="panelTipodeProyecto">
            <label class="form-text" id="lblSeleccioneTipoDeProyecto"></label>
            <select class="form-control" id="selectTipoDeProyecto">
            </select>
            <input id="inputTipoDeProyectoID" asp-for="TrabajoRecepcional.TipoDeProyecto.ID" hidden />
            <input id="inputTipoDeProyecto" asp-for="TipoDeProyecto" hidden />
        </div>

        <div class="form-group">
            <label class="form-text">Selecciona una o más LGAC</label>
            @Html.ListBoxFor(m => m.IDLGACSeleccionadas, Model.LGACs.Select(l => new SelectListItem { Text = l.Nombre, Value = l.ID.ToString() }), new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label class="form-text">Línea de investigación</label>
            <input type="text" asp-for="TrabajoRecepcional.LineaDeInvestigacion" class="form-control" id="inputLineaDeInvestigacion">
        </div>

        <div class="clearfix">
            <input class="btn btn-secondary float-left" id="btnRegresarSeleccionarAlumno" type="button" value="Regresar" />
            <input class="btn btn-primary float-right" type="button" id="btnSeleccionarOpcionDeSinodal" value="Seleccionar opcion de sinodal" />
        </div>

    </div>

    <div id="seleccionarOpcionDeSinodal">
        <h2 class="form-text">Seleccione una opción</h2>

        <div class="form-group text-center p-4 row">
            <div class="col-sm mb-5 mt-5">
                <input class="btn btn-primary btn-lg btn-block" type="button" value="Registrar nuevo sinodal">
            </div>
            <div class="col-sm mb-5 mt-5">
                <input class="btn btn-primary btn-lg btn-block" type="button" id="btnBuscarSinodal" value="Buscar sinodal" />
            </div>
        </div>


        <div class="clearfix">
            <input class="btn btn-secondary float-left" id="btnRegresarSeleccionarTipoDeProyecto" type="button" value="Regresar" />
        </div>
    </div>

    <div id="buscarSinodal">
        <h2 class="form-text">Seleccione un sinodal</h2>
        <div class="form-group">
            <input id="searchBuscarSinodal" class="form-control" type="search" placeholder="Buscar" />

            <div class="form-check mt-2 mb-2">
                <input class="form-check-input" type="checkbox" id="checkboxMostrarSinodales" />
                <label class="form-check-label" for="checkboxMostrarSinodales">Mostrar sinodales externos</label>
            </div>

            <h3>Integrantes</h3>
            <div class="table-responsive">
                <table id="tblIntegrantes" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Número de Personal</th>
                            <th>Tipo de integrante</th>
                            <th>Incluido</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var integrante in Model.Integrantes)
                        {
                            <tr>
                                <td class="tdIntegranteID" hidden>@integrante.ID</td>
                                <td>@integrante.Nombre</td>
                                <td>@integrante.NumeroDePersonal</td>
                                <td>@integrante.TipoDeIntegrante.ToString()</td>
                                <td class="tdIncluido">No</td>
                                <td class="tdTipo">N/A</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <h3 hidden id="tituloSinodales">Sinodales</h3>
            <div class="table-responsive">
                <table hidden id="tblSinodales" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo electrónico</th>
                            <th>Organización</th>
                            <th>Télefono</th>
                            <th>Incluido</th>
                            <th >Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
            </div>

            <div class="clearfix">
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-text">Seleccione el tipo de sinodal</label>
                        <select class="form-control" id="selectTipoDeSinodal">
                            <option value="" selected disabled hidden>Seleccione una opción</option>
                            <option value="@MVVM.Models.TipoDeSinodal.Director">@MVVM.Models.TipoDeSinodal.Director</option>
                            <option value="@MVVM.Models.TipoDeSinodal.Codirector">@MVVM.Models.TipoDeSinodal.Codirector</option>
                            <option value="@MVVM.Models.TipoDeSinodal.Sinodal">@MVVM.Models.TipoDeSinodal.Sinodal</option>
                        </select>
                    </div>
                </div>

                <div class="float-right">
                    <input disabled class="btn btn-danger" type="button" id="btnEliminarSinodal" value="Eliminar sinodal"/>
                    <input disabled class="btn btn-success" type="button" id="btnAñadirSinodal" value="Añadir sinodal"/>
                </div>
            </div>
        </div>

        <div class="clearfix mt-5">
            <input class="btn btn-secondary float-left" id="btnRegresarSeleccionarOpcionSinodal" type="button" value="Regresar" />
            <input class="btn btn-success float-right" id="btnRegistrarTrabajoRecepcional" type="submit" value="Registrar trabajo recepcional" />
        </div>
    </div>
</form>

<div class="d-flex justify-content-center" id="contenedorDePasoActual">
    <div class="rounded-circle bg-primary p-3 m-1 d-inline bg-secondary indicadorDePaso" id="pasoActual1"></div>
    <div class="rounded-circle bg-primary p-3 m-1 d-inline bg-secondary indicadorDePaso" id="pasoActual2"></div>
    <div class="rounded-circle bg-primary p-3 m-1 d-inline bg-secondary indicadorDePaso" id="pasoActual3"></div>
    <div class="rounded-circle bg-primary p-3 m-1 d-inline bg-secondary indicadorDePaso" id="pasoActual4"></div>
    <div class="rounded-circle bg-primary p-3 m-1 d-inline bg-secondary indicadorDePaso" id="pasoActual5"></div>
</div>

@section scripts {
    <script defer>
        function desasignarEventoPorDefectoDeTecla(numeroDeTecla) {
            let inputs = document.getElementsByTagName('input');
            for (let input of inputs) {
                input.addEventListener('keydown', function (event) {
                    if (event.which === numeroDeTecla) {
                        event.preventDefault();
                    }
                });
            }
        }

        // Se regresa el error para identificarlo en donde se llame la funcion y registrar un mensaje personalizado en pantalla
        // sin hacer un log a la consola.
        // No se encontro una forma de que la consola del navegador no haga log de las peticiones sin status 200.
        async function buscarDatosPorHandler(handler, cadenaDeBusqueda = '') {
            let url = new URL('@URL_REGISTRAR_TRABAJO_RECEPCIONAL');
            url.searchParams.append('handler', handler);

            if (cadenaDeBusqueda) {
                url.searchParams.append('cadenaDeBusqueda', cadenaDeBusqueda);
            }

            let resultado;

            try {
                const response = await fetch(url);
                if (response.ok) {
                    resultado = await response.json();
                }
                else if (response.status == @((Int16)System.Net.HttpStatusCode.NotFound)) {
                    resultado = '';
                }
                else {
                    throw new Error(`Error en buscarDatosPorHandler. Respuesta del servidor ${response.status} no soportada.`);
                }
            }
            catch (error) {
                console.error('Error, hubo un error al solicitar información al servidor: ', error);
                throw error;
            }
            return resultado;
        }

        function mostrarMensajeEnPantalla(mensaje) {
            console.error(`mostrarErrorEnPantalla NOT IMPLEMENTED. Mensaje ${mensaje}`);
        }

        function populateAlumnos(jsonAlumnos) {
            let tblAlumnosBody = document.querySelector('#tblAlumnos > tbody');
            tblAlumnosBody.innerHTML = '';

            jsonAlumnos.forEach(element => {
                let row = document.createElement('tr');

                let tdID = document.createElement('td');
                tdID.classList.add('tdAlumnoID');
                tdID.appendChild(document.createTextNode(element.id));
                tdID.setAttribute('hidden', true);
                row.appendChild(tdID);

                let tdNombre = document.createElement('td');
                tdNombre.appendChild(document.createTextNode(element.nombre));
                row.appendChild(tdNombre);

                let tdMatricula = document.createElement('td');
                tdMatricula.appendChild(document.createTextNode(element.matricula));
                row.appendChild(tdMatricula);

                let tdCorreoElectronico = document.createElement('td');
                tdCorreoElectronico.appendChild(document.createTextNode(element.correoElectronico));
                row.appendChild(tdCorreoElectronico);

                tblAlumnosBody.appendChild(row);
            });

            asignarClicDeFilaDeTblAlumnos();
        }

        function asignarEnterDeBuscarAlumnos() {
            let searchBuscarAlumnos = document.getElementById('searchBuscarAlumnos');
            searchBuscarAlumnos.addEventListener('keydown', (event) => {
                if (event.which === @NUMERO_DE_TECLA_ENTER) {
                    let cadenaDeBusquedaAlumnos = document.getElementById('searchBuscarAlumnos').value;

                    let inputAlumnoID = document.getElementById('inputAlumnoID');
                    inputAlumnoID.setAttribute('value', 0);

                    buscarDatosPorHandler('@HANDLER_ALUMNOS', cadenaDeBusquedaAlumnos)
                        .then((alumnos) => {
                            if (alumnos) {
                                populateAlumnos(alumnos);
                            }
                            else {
                                let tblAlumnosBody = document.querySelector('#tblAlumnos > tbody');
                                tblAlumnosBody.innerHTML = '';
                            }
                        })
                        .catch(() => {
                            mostrarMensajeEnPantalla('Error al cargar alumnos.');
                        });
                }
            });
        }

        function eliminarClasesDeElemento(elemento, clases) {
            for (let clase of clases) {
                elemento.classList.remove(clase);
            }
        }

        function agregarClasesAElemento(elemento, clases) {
            for (let clase of clases) {
                elemento.classList.add(clase);
            }
        }

        const clasesParaMarcarFilasSeleccionadas = [ 'bg-primary', 'bg-gradient', 'text-light'];

        function asignarClicDeFilaDeTblAlumnos() {
            let filasTblAlumnos = document.querySelector('#tblAlumnos > tbody').rows;

            for (let filaActual of filasTblAlumnos) {
                filaActual.addEventListener('click', function (event) {
                    let target = event.currentTarget;
                    let idAlumno = target.querySelector('.tdAlumnoID').textContent;


                    let inputAlumnoID = document.getElementById('inputAlumnoID');
                    inputAlumnoID.setAttribute('value', idAlumno);
                    for (let fila of filasTblAlumnos) {
                        eliminarClasesDeElemento(fila, clasesParaMarcarFilasSeleccionadas);
                    }

                    agregarClasesAElemento(filaActual, clasesParaMarcarFilasSeleccionadas);
                });
            }
        }

        function populateSelectTipoDeProyecto(jsonElementos, opcionSeleccionada) {
            let selectTipoDeProyecto = document.getElementById('selectTipoDeProyecto');
            selectTipoDeProyecto.innerHTML = '';

            let inputTipoDeProyectoID = document.getElementById('inputTipoDeProyectoID');
            let inputTipoDeProyecto = document.getElementById('inputTipoDeProyecto');
            inputTipoDeProyectoID.setAttribute('value', '');
            inputTipoDeProyecto.setAttribute('value', '');


            let elementoOptionDefault = document.createElement('option');
            elementoOptionDefault.setAttribute('hidden', true);
            elementoOptionDefault.setAttribute('disabled', true);
            elementoOptionDefault.setAttribute('selected', true);
            elementoOptionDefault.appendChild(document.createTextNode('Seleccione aquí'));
            selectTipoDeProyecto.appendChild(elementoOptionDefault);

            if (opcionSeleccionada === 'pladeafei') {
                for (const pladeafei of jsonElementos) {
                    let elementoOpcion = document.createElement('option');
                    elementoOpcion.value = pladeafei.id;
                    elementoOpcion.setAttribute('data-tipodeproyecto', opcionSeleccionada);
                    elementoOpcion.appendChild(document.createTextNode(pladeafei.accion));
                    selectTipoDeProyecto.appendChild(elementoOpcion);
                }
            }
            else if (opcionSeleccionada === 'proyectoDeInvestigacion') {
                for (const proyectoDeInvestigacion of jsonElementos) {
                    let elementoOpcion = document.createElement('option');
                    elementoOpcion.value = proyectoDeInvestigacion.id;
                    elementoOpcion.setAttribute('data-tipodeproyecto', opcionSeleccionada);
                    elementoOpcion.appendChild(document.createTextNode(proyectoDeInvestigacion.nombre));
                    selectTipoDeProyecto.appendChild(elementoOpcion);
                }
            }
            else if (opcionSeleccionada === 'vinculacion') {
                for (const vinculacion of jsonElementos) {
                    let elementoOpcion = document.createElement('option');
                    elementoOpcion.value = vinculacion.id;
                    elementoOpcion.setAttribute('data-tipodeproyecto', opcionSeleccionada);
                    elementoOpcion.appendChild(document.createTextNode(vinculacion.organizacionVinculada));
                    selectTipoDeProyecto.appendChild(elementoOpcion);
                }
            }
        }

        function asignarSeleccionASelectTipoDeProyecto() {
            let selectSeleccionarTipoDeProyecto = document.getElementById('selectSeleccionarTipoDeProyecto');
            let labelSeleccioneTipoDeProyecto = document.getElementById('lblSeleccioneTipoDeProyecto');
            let selectTipoDeProyecto = document.getElementById('selectTipoDeProyecto');
            selectTipoDeProyecto.setAttribute('disabled', true);

            selectSeleccionarTipoDeProyecto.addEventListener('change', function (event) {
                let url = new URL('@URL_REGISTRAR_TRABAJO_RECEPCIONAL');
                let handler;
                selectTipoDeProyecto.removeAttribute('disabled');
                let opcionSeleccionada = event.target.value;
                let existioError = false;

                if (opcionSeleccionada === 'pladeafei') {
                    labelSeleccioneTipoDeProyecto.textContent = 'Seleccione la PLADEAFEI';
                    handler = '@HANDLER_PLADEAFEI';
                }
                else if (opcionSeleccionada === 'proyectoDeInvestigacion') {
                    labelSeleccioneTipoDeProyecto.textContent = 'Seleccione el proyecto de investigación';
                    handler = '@HANDLER_PROYECTO_DE_INVESTIGACION';
                }
                else if (opcionSeleccionada === 'vinculacion') {
                    labelSeleccioneTipoDeProyecto.textContent = 'Seleccione la vinculación';
                    handler = '@HANDLER_VINCULACION';
                }
                else {
                    console.error('Error. Opcion seleccionada es nula o vacia', [opcionSeleccionada, selectSeleccionarTipoDeProyecto]);
                    existioError = true;
                }

                if (!existioError) {
                    buscarDatosPorHandler(handler)
                        .then((tipoDeProyecto) => {
                            if (tipoDeProyecto) {
                                populateSelectTipoDeProyecto(tipoDeProyecto, opcionSeleccionada);
                            }
                            else {
                                mostrarMensajeEnPantalla('Error. Ningun tipo de proyecto encontrado.');
                            }
                        })
                        .catch(() => {
                            mostrarMensajeEnPantalla('Error al cargar los tipos de proyecto.');
                        });
                }
            });
        }

        function asignarClicASelectTipoDeProyecto() {
            let selectTipoDeProyecto = document.getElementById('selectTipoDeProyecto');
            selectTipoDeProyecto.addEventListener('change', (event) => {
                let elementoOptionSeleccionado = selectTipoDeProyecto.options[selectTipoDeProyecto.selectedIndex];
                let idTipoDeProyecto = event.target.value;
                let tipoDeProyecto = elementoOptionSeleccionado.getAttribute('data-tipodeproyecto');

                let inputTipoDeProyectoID = document.getElementById('inputTipoDeProyectoID');
                let inputTipoDeProyecto = document.getElementById('inputTipoDeProyecto');
                inputTipoDeProyectoID.setAttribute('value', idTipoDeProyecto);
                inputTipoDeProyecto.setAttribute('value', tipoDeProyecto);
            });
        }

        function asignarClicDeFilaATblIntegrantes() {
            let filasTblIntegrantes = document.querySelectorAll('#tblIntegrantes > tbody > tr');
            for (let fila of filasTblIntegrantes) {
                fila.addEventListener('click', clicFilaDeTblIntegrantesOSinodales);
            }
        }

        function clicFilaDeTblIntegrantesOSinodales(event) {
            let fila = event.currentTarget
            let filasIntegrantesYSinodales = document.querySelectorAll('#buscarSinodal .table-responsive tbody > tr');

            // Se utiliza ForEach ya que es un tipo de objeto y no un array.
            filasIntegrantesYSinodales.forEach(function (fila, indice, lista) {
                eliminarClasesDeElemento(fila, clasesParaMarcarFilasSeleccionadas.concat('selected'));
            });

            agregarClasesAElemento(fila, clasesParaMarcarFilasSeleccionadas.concat('selected'));
            actualizarInterfazPorSinodalSeleccionado(fila);
        }

        function actualizarInterfazPorSinodalSeleccionado(filaSeleccionada) {
            let selectTipoDeSinodal = document.getElementById('selectTipoDeSinodal');
            let btnAñadirSinodal = document.getElementById('btnAñadirSinodal');
            let btnEliminarSinodal = document.getElementById('btnEliminarSinodal');
            let tipoDeSinodal = '';

            if (filaSeleccionada.hasAttribute('incluido')) {
                tipoDeSinodal = filaSeleccionada.getAttribute('tipoDeSinodal');
                if (!tipoDeSinodal) {
                    console.error('Error en actualizarInterfazPorSinodal. Valor de atributo no soportado.');
                }

                btnAñadirSinodal.disabled = true;
                btnEliminarSinodal.disabled = false;
            }
            else {
                btnAñadirSinodal.disabled = false;
                btnEliminarSinodal.disabled = true;
            }

            selectTipoDeSinodal.value = tipoDeSinodal;
        }

        function populateTblSinodales(jsonSinodales) {
            let tblBodySinodales = document.querySelector('#tblSinodales > tbody');
            tblBodySinodales.innerHTML = '';

            for (sinodal of jsonSinodales) {
                let fila = document.createElement('tr');

                let celdaID = document.createElement('td');
                celdaID.classList.add('tdSinodalID');
                celdaID.appendChild(document.createTextNode(sinodal.id));
                celdaID.setAttribute('hidden', true);
                fila.appendChild(celdaID);

                let celdaNombre = document.createElement('td');
                celdaNombre.appendChild(document.createTextNode(sinodal.nombre));
                fila.appendChild(celdaNombre);

                let celdaCorreo = document.createElement('td');
                celdaCorreo.appendChild(document.createTextNode(sinodal.correoElectronico));
                fila.appendChild(celdaCorreo);

                let celdaOrganizacion = document.createElement('td');
                celdaOrganizacion.appendChild(document.createTextNode(sinodal.organizacion));
                fila.appendChild(celdaOrganizacion);

                let celdaTelefono = document.createElement('td');
                celdaTelefono.appendChild(document.createTextNode(sinodal.telefono));
                fila.appendChild(celdaTelefono);

                let celdaIncluido = document.createElement('td');
                celdaIncluido.classList.add('tdIncluido');
                celdaIncluido.appendChild(document.createTextNode('No'));
                fila.appendChild(celdaIncluido);

                let celdaTipo = document.createElement('td');
                celdaTipo.classList.add('tdTipo')
                celdaTipo.appendChild(document.createTextNode('N/A'));
                fila.appendChild(celdaTipo);

                fila.addEventListener('click', clicFilaDeTblIntegrantesOSinodales);

                tblBodySinodales.appendChild(fila);
            }

        }

        function populateTblIntegrantes(integrantes) {
            let tblBodyIntegrantes = document.querySelector('#tblIntegrantes > tbody');
            tblBodyIntegrantes.innerHTML = '';
            for (integrante of integrantes) {
                let fila = document.createElement('tr');

                let celdaID = document.createElement('td');
                celdaID.classList.add('tdIntegranteID');
                celdaID.appendChild(document.createTextNode(integrante.id));
                celdaID.setAttribute('hidden', true);
                fila.appendChild(celdaID);

                let celdaNombre = document.createElement('td');
                celdaNombre.appendChild(document.createTextNode(integrante.nombre));
                fila.appendChild(celdaNombre);

                let celdaNumeroDePersonal = document.createElement('td');
                celdaNumeroDePersonal.appendChild(document.createTextNode(integrante.numeroDePersonal));
                fila.appendChild(celdaNumeroDePersonal);

                let celdaTipoDeIntegrante = document.createElement('td');
                let tipoDeIntegrante = '';
                if (integrante.tipoDeIntegrante === @((int)MVVM.Models.TipoDeIntegrante.Integrante)) {
                    tipoDeIntegrante = '@(MVVM.Models.TipoDeIntegrante.Integrante)';
                }
                else if (integrante.tipoDeIntegrante === @((int)MVVM.Models.TipoDeIntegrante.Colaborador)) {
                    tipoDeIntegrante = '@(MVVM.Models.TipoDeIntegrante.Colaborador)';
                }
                celdaTipoDeIntegrante.appendChild(document.createTextNode(tipoDeIntegrante));
                fila.appendChild(celdaTipoDeIntegrante);

                let celdaIncluido = document.createElement('td');
                celdaIncluido.classList.add('tdIncluido');
                celdaIncluido.appendChild(document.createTextNode('No'));
                fila.appendChild(celdaIncluido);

                let celdaTipo = document.createElement('td');
                celdaTipo.classList.add('tdTipo')
                celdaTipo.appendChild(document.createTextNode('N/A'));
                fila.appendChild(celdaTipo);

                fila.addEventListener('click', clicFilaDeTblIntegrantesOSinodales);

                tblBodyIntegrantes.appendChild(fila);
            }
        }

        function asignarClicACheckboxMostrarSinodales() {
            let checkboxMostrarSinodales = document.getElementById('checkboxMostrarSinodales');
            checkboxMostrarSinodales.addEventListener('change', function (event) {
                let tblSinodales = document.getElementById('tblSinodales');
                let tituloSinodales = document.getElementById('tituloSinodales');

                if (checkboxMostrarSinodales.checked) {
                    tblSinodales.removeAttribute('hidden');
                    tituloSinodales.removeAttribute('hidden');
                    buscarDatosPorHandler('@HANDLER_SINODALES')
                        .then(function (sinodales) {
                            populateTblSinodales(sinodales);
                        })
                        .catch(() => {
                            mostrarMensajeEnPantalla('Error al buscar sinodales.');
                            checkboxMostrarSinodales.checked = false;
                        });
                }
                else {
                    tituloSinodales.setAttribute('hidden', true);
                    tblSinodales.setAttribute('hidden', true);
                    let tblBodySinodales = document.querySelector('#tblSinodales > tbody');
                    tblBodySinodales.innerHTML = '';
                    mostrarMensajeEnPantalla('Se deseleccionaron los sinodales externos seleccionados.');
                }
            });
        }

        function existeTipoDeSinodalEnTabla(tipoDeSinodal) {
            let queryParaEncontrarFilaConTipoDeSinodal = `#buscarSinodal .table-responsive tbody > tr[tipodesinodal=${tipoDeSinodal}]`;
            let fila = document.querySelectorAll(queryParaEncontrarFilaConTipoDeSinodal);
            let resultado = fila.length > 0;
            return resultado;
        }

        function asignarClicABtnAñadirSinodal() {
            let btnAñadirSinodal = document.getElementById('btnAñadirSinodal');
            btnAñadirSinodal.addEventListener('click', function (event) {
                let selectTipoDeSinodal = document.getElementById('selectTipoDeSinodal');
                let opcionSeleccionada = selectTipoDeSinodal.value;
                let filaSeleccionada = document.querySelector('#buscarSinodal .table-responsive tbody > tr.selected');

                if (opcionSeleccionada && filaSeleccionada) {
                    if (existeTipoDeSinodalEnTabla(opcionSeleccionada)) {
                        mostrarMensajeEnPantalla(`Ya has seleccionado un ${opcionSeleccionada}.`);
                    }
                    else {
                        filaSeleccionada.setAttribute('incluido', true);
                        filaSeleccionada.setAttribute('tipoDeSinodal', opcionSeleccionada);

                        for (let celda of filaSeleccionada.children) {
                            if (celda.classList.contains('tdTipo')) {
                                celda.innerHTML = '';
                                celda.appendChild(document.createTextNode(opcionSeleccionada));
                            }
                            else if (celda.classList.contains('tdIncluido')) {
                                celda.innerHTML = '';
                                celda.appendChild(document.createTextNode('Sí'));
                            }
                        }
                        actualizarInterfazPorSinodalSeleccionado(filaSeleccionada);
                    }
                }
                else {
                    mostrarMensajeEnPantalla('Se debe seleccionar un tipo de sinodal y un fila en la tabla.');
                }
            });
        }

        function asignarClicABtnEliminarSinodal() {
            let btnEliminarSinodal = document.getElementById('btnEliminarSinodal');
            btnEliminarSinodal.addEventListener('click', function () {
                let filaSeleccionada = document.querySelector('#buscarSinodal .table-responsive tbody > tr.selected');
                if (filaSeleccionada) {
                    filaSeleccionada.removeAttribute('incluido');
                    filaSeleccionada.removeAttribute('tipoDeSinodal');

                    for (let celda of filaSeleccionada.children) {
                        if (celda.classList.contains('tdTipo')) {
                            celda.innerHTML = '';
                            celda.appendChild(document.createTextNode('N/A'));
                        }
                        else if (celda.classList.contains('tdIncluido')) {
                            celda.innerHTML = '';
                            celda.appendChild(document.createTextNode('No'));
                        }
                    }
                    actualizarInterfazPorSinodalSeleccionado(filaSeleccionada);
                }
            });
        }


        function asignarEnterDeBuscarSinodales() {
            let searchBuscarSinodal = document.getElementById('searchBuscarSinodal');

            function reemplazarIntegrantes(filasDeIntegrantes) {
                let tblBodyIntegrantes = document.querySelector('#tblIntegrantes > tbody');

                for (let filaIntegrante of filasDeIntegrantes) {
                    let filaIntegranteReemplazada = false;
                    for (let fila of tblBodyIntegrantes.rows) {
                        let idFilaIntegrante = filaIntegrante.querySelector('.tdIntegranteID').textContent;
                        let idFila = fila.querySelector('.tdIntegranteID').textContent;
                        if (idFilaIntegrante === idFila) {
                            filaIntegrante.removeAttribute('hidden');
                            tblBodyIntegrantes.replaceChild(filaIntegrante, fila);
                            filaIntegranteReemplazada = true;
                            break;
                        }
                    }
                    if (!filaIntegranteReemplazada) {
                        filaIntegrante.setAttribute('hidden', true);
                        tblBodyIntegrantes.appendChild(filaIntegrante);
                    }
                }
            }

            function reemplazarSinodales(filasDeSinodales) {
                let tblBodySinodales = document.querySelector('#tblSinodales > tbody');

                for (let filaSinodal of filasDeSinodales) {
                    let filaIntegranteReemplazada = false;
                    for (let fila of tblBodySinodales.rows) {
                        let idFilaSinodal = filaSinodal.querySelector('.tdSinodalID').textContent;
                        let idFila = fila.querySelector('.tdSinodalID').textContent;
                        if (idFilaSinodal === idFila) {
                            filaSinodal.removeAttribute('hidden');
                            tblBodySinodales.replaceChild(filaSinodal, fila);
                            filaIntegranteReemplazada = true;
                            break;
                        }
                    }
                    if (!filaIntegranteReemplazada) {
                        filaSinodal.setAttribute('hidden', true);
                        tblBodySinodales.appendChild(filaSinodal);
                    }
                }
            }

            searchBuscarSinodal.addEventListener('keydown', (event) => {
                if (event.which === @NUMERO_DE_TECLA_ENTER) {
                    let integrantesSeleccionados = document.querySelectorAll('#tblIntegrantes > tbody > tr[incluido]');
                    let cadenaDeBusquedaSinodales = searchBuscarSinodal.value;

                    buscarDatosPorHandler('@HANDLER_INTEGRANTES', cadenaDeBusquedaSinodales)
                        .then((integrantes) => {
                            populateTblIntegrantes(integrantes);
                            reemplazarIntegrantes(integrantesSeleccionados);
                        })
                        .catch(error => {
                            mostrarMensajeEnPantalla('Error al recuperar los integrantes. ');
                            console.error(error);
                        });

                    let checkboxMostrarSinodales = document.getElementById('checkboxMostrarSinodales');
                    if (checkboxMostrarSinodales.checked) {
                        let sinodalesSeleccionados = document.querySelectorAll('#tblSinodales > tbody > tr[incluido]');
                        buscarDatosPorHandler('@HANDLER_SINODALES', cadenaDeBusquedaSinodales)
                            .then((sinodales) => {
                                populateTblSinodales(sinodales);
                                reemplazarSinodales(sinodalesSeleccionados);
                            })
                            .catch(error => {
                                mostrarMensajeEnPantalla('Error al recuperar los sinodales externos.');
                                console.error(error);
                            });
                    }
                }
            });
        }


        desasignarEventoPorDefectoDeTecla(@NUMERO_DE_TECLA_ENTER);
        asignarEnterDeBuscarAlumnos();
        asignarClicDeFilaDeTblAlumnos();
        asignarSeleccionASelectTipoDeProyecto();
        asignarClicASelectTipoDeProyecto();
        asignarClicDeFilaATblIntegrantes();
        asignarClicACheckboxMostrarSinodales();
        asignarClicABtnAñadirSinodal();
        asignarClicABtnEliminarSinodal();
        asignarEnterDeBuscarSinodales();
    </script>

    <script defer id="scriptAdministrarPasos">

        function asignarLogicaDeCambioDePasosAFormulario() {
            let formRegistrarTrabajoRecepcional = document.getElementById('formRegistrarTrabajoRecepcional');
            for (const nodo of formRegistrarTrabajoRecepcional.children) {
                nodo.setAttribute('hidden', true);
            }

            let panelIdentificadores = document.getElementById('identificadores');
            let panelSeleccionarAlumnos = document.getElementById('seleccionarAlumnos');
            let panelSeleccionarTipoDeProyecto = document.getElementById('seleccionarTipoDeProyecto');
            let panelSeleccionarOpcionDeSinodal = document.getElementById('seleccionarOpcionDeSinodal');
            let panelBuscarSinodal = document.getElementById('buscarSinodal');
            panelIdentificadores.removeAttribute('hidden');

            let indicadorDePasoActual1 = document.getElementById('pasoActual1');
            indicadorDePasoActual1.classList.add('bg-primary');
            indicadorDePasoActual1.classList.remove('bg-secondary');

            let indicadorDePasoActual2 = document.getElementById('pasoActual2');
            let indicadorDePasoActual3 = document.getElementById('pasoActual3');
            let indicadorDePasoActual4 = document.getElementById('pasoActual4');
            let indicadorDePasoActual5 = document.getElementById('pasoActual5');

            function marcarIndicadorDePasoActual(indicadorDePasoActual, esPasoActual) {
                if (esPasoActual) {
                    indicadorDePasoActual.classList.add('bg-primary');
                    indicadorDePasoActual.classList.remove('bg-secondary');
                }
                else {
                    indicadorDePasoActual.classList.add('bg-secondary');
                    indicadorDePasoActual.classList.remove('bg-primary');
                }
            }

            function asignarClicABtnSeleccionarAlumnos() {
                let btnSeleccionarAlumnos = document.getElementById('btnSeleccionarAlumnos');
                btnSeleccionarAlumnos.addEventListener('click', function (event) {
                    panelIdentificadores.setAttribute('hidden', true);
                    panelSeleccionarAlumnos.removeAttribute('hidden');
                    marcarIndicadorDePasoActual(indicadorDePasoActual1, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual2, true);
                });
            }

            function asignarClicABtnSeleccionarTipoDeProyecto() {
                let btnSeleccionarTipoDeProyecto = document.getElementById('btnSeleccionarTipoDeProyecto');
                btnSeleccionarTipoDeProyecto.addEventListener('click', function (event) {
                    panelSeleccionarAlumnos.setAttribute('hidden', true);
                    panelSeleccionarTipoDeProyecto.removeAttribute('hidden');
                    marcarIndicadorDePasoActual(indicadorDePasoActual2, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual3, true);
                });
            }

            function asignarClicABtnSeleccionarOpcionDeSinodal() {
                let btnSeleccionarOpcionDeSinodal = document.getElementById('btnSeleccionarOpcionDeSinodal');
                btnSeleccionarOpcionDeSinodal.addEventListener('click', function (event) {
                    panelSeleccionarTipoDeProyecto.setAttribute('hidden', true);
                    panelSeleccionarOpcionDeSinodal.removeAttribute('hidden');
                    marcarIndicadorDePasoActual(indicadorDePasoActual3, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual4, true);
                });
            }

            function asignarClicABtnBuscarSinodal() {
                btnBuscarSinodal = document.getElementById('btnBuscarSinodal');
                btnBuscarSinodal.addEventListener('click', function (event) {
                    panelSeleccionarOpcionDeSinodal.setAttribute('hidden', true);
                    panelBuscarSinodal.removeAttribute('hidden');
                    marcarIndicadorDePasoActual(indicadorDePasoActual4, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual5, true);
                });
            }

            function asignarClicBtnRegresarIdentificadores() {
                let btnRegresarIdentificadores = document.getElementById('btnRegresarIdentificadores');
                btnRegresarIdentificadores.addEventListener('click', function () {
                    panelSeleccionarAlumnos.setAttribute('hidden', true);
                    panelIdentificadores.removeAttribute('hidden');

                    marcarIndicadorDePasoActual(indicadorDePasoActual2, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual1, true);
                });
            }

            function asignarClicABtnRegresarSeleccionarAlumno() {
                let btnRegresarSeleccionarAlumno = document.getElementById('btnRegresarSeleccionarAlumno');
                btnRegresarSeleccionarAlumno.addEventListener('click', function () {
                    panelSeleccionarTipoDeProyecto.setAttribute('hidden', true);
                    panelSeleccionarAlumnos.removeAttribute('hidden');

                    marcarIndicadorDePasoActual(indicadorDePasoActual3, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual2, true);
                });
            }

            function asignarClicABtnRegresarSeleccionarTipoDeProyecto() {
                let btnRegresarSeleccionarTipoDeProyecto = document.getElementById('btnRegresarSeleccionarTipoDeProyecto');
                btnRegresarSeleccionarTipoDeProyecto.addEventListener('click', function () {
                    panelSeleccionarOpcionDeSinodal.setAttribute('hidden', true);
                    panelSeleccionarTipoDeProyecto.removeAttribute('hidden');

                    marcarIndicadorDePasoActual(indicadorDePasoActual4, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual3, true);
                });
            }

            function asignarClicABtnRegresarSeleccionarOpcionSinodal() {
                let btnRegresarSeleccionarOpcionSinodal = document.getElementById('btnRegresarSeleccionarOpcionSinodal');
                btnRegresarSeleccionarOpcionSinodal.addEventListener('click', function () {
                    panelBuscarSinodal.setAttribute('hidden', true);
                    panelSeleccionarOpcionDeSinodal.removeAttribute('hidden');

                    marcarIndicadorDePasoActual(indicadorDePasoActual5, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual4, true);
                });
            }

            asignarClicABtnSeleccionarAlumnos();
            asignarClicABtnSeleccionarTipoDeProyecto();
            asignarClicABtnSeleccionarOpcionDeSinodal();
            asignarClicABtnBuscarSinodal();
            asignarClicBtnRegresarIdentificadores();
            asignarClicABtnRegresarSeleccionarAlumno();
            asignarClicABtnRegresarSeleccionarTipoDeProyecto();
            asignarClicABtnRegresarSeleccionarOpcionSinodal();
        }

        asignarLogicaDeCambioDePasosAFormulario();
    </script>
}