@page
@model MVVM.Pages.RegistrarTrabajoRecepcionalModel
@{ 
    string URL_REGISTRAR_TRABAJO_RECEPCIONAL = "https://" + Request.Host + Request.Path;
    int NUMERO_DE_TECLA_ENTER = 13;
    string HANDLER_PLADEAFEI = "pladeasfei";
    string HANDLER_PROYECTO_DE_INVESTIGACION = "proyectosDeInvestigacion";
    string HANDLER_VINCULACION = "vinculaciones";

}

<h1>Registrar trabajo recepcional</h1>

<form id="formRegistrarTrabajoRecepcional" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" />

    <div id="identificadores">
        <div class="form-group">
            <div class="form-group">
                <label for="inputNombreDeTrabajoRecepcional">Nombre del trabajo recepcional</label>
                <input type="text" asp-for="TrabajoRecepcional.Nombre" class="form-control" id="inputNombreDeTrabajoRecepcional" placeholder="Escriba el nombre">
                <span asp-validation-for="TrabajoRecepcional.Nombre" class="text-danger" />
            </div>

            <div class="form-group text-center">
                <label class="form-text">Modalidad</label>
                <select class="form-control" asp-for="@Model.TrabajoRecepcional.Modalidad" asp-items="Html.GetEnumSelectList<Modalidades>()">
                    <option selected="selected" value="">Seleccione una opción</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inputArchivoDeAnteproyecto">Subir archivo de anteproyecto</label>
                <input type="file" asp-for="TrabajoRecepcional.Anteproyecto" class="form-control" id="inputArchivoDeAnteproyecto">
                <span asp-validation-for="TrabajoRecepcional.Anteproyecto" class="text-danger"></span>
            </div>
        </div>
        <div class="clearfix">
            <input class="btn btn-primary float-right" type="button" id="btnSeleccionarAlumnos" value="Seleccionar alumnos" />
        </div>
    </div>

    <div id="seleccionarAlumnos">
        <h2 class="form-text">Seleccione un alumno</h2>
        <div class="form-group">
            <input id="searchBuscarAlumnos" class="form-control" type="search" placeholder="Buscar" />

            <div class="table-responsive">
                <table id="tblAlumnos" class="table table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AlumnosDelMaestro[0].Nombre)</th>
                            <th>Matrícula</th>
                            <th>Correo electrónico</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var alumno in Model.AlumnosDelMaestro)
                        {
                            <tr>
                                <td class="tdAlumnoID" hidden>@alumno.ID</td>
                                <td>@alumno.Nombre</td>
                                <td>@alumno.Matricula</td>
                                <td>@alumno.CorreoElectronico</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

            <input id="inputAlumnoID" hidden asp-for="IDAlumnoSeleccionado" />

            <div class="clearfix">
                <input class="btn btn-secondary float-left" id="btnRegresarIdentificadores" type="button" value="Regresar" />
                <input class="btn btn-primary float-right" type="button" id="btnSeleccionarTipoDeProyecto" value="Seleccionar tipo de proyecto" />
            </div>
        </div>
    </div>

    <div id="seleccionarTipoDeProyecto">
        <div class="form-group">
            <label class="form-text">Tipo de proyecto al que pertenece</label>
            <select id="selectSeleccionarTipoDeProyecto" class="form-control">
                <option value="" selected disabled hidden>Seleccione aquí</option>
                <option value="vinculacion">Vinculación</option>
                <option value="pladeafei">PLADEAFEI</option>
                <option value="proyectoDeInvestigacion">Proyecto de investigación</option>
            </select>
        </div>

        <div class="form-group" id="panelTipodeProyecto">
            <label class="form-text" id="lblSeleccioneTipoDeProyecto"></label>
            <select class="form-control" id="selectTipoDeProyecto">
            </select>
            <input id="inputTipoDeProyectoID" asp-for="TrabajoRecepcional.TipoDeProyecto.ID" hidden />
            <input id="inputTipoDeProyecto" asp-for="TipoDeProyecto" hidden />
        </div>

        <div class="form-group">
            <label class="form-text">Selecciona una o más LGAC</label>
            @*@Html.DropDownListFor(x => x.MiLGAC.ID, Model.LGACs.Select(l => new SelectListItem { Text = l.Nombre, Value = l.ID.ToString() }))*@
            @*<select multiple="multiple" class="form-control" asp-for="@Model.TrabajoRecepcional.LGACs" asp-items="Model.LGACs.Select(l => new SelectListItem { Text = l.Nombre, Value = l.ID.ToString() })"></select>*@
            @Html.ListBoxFor(m => m.IDLGACSeleccionadas, Model.LGACs.Select(l => new SelectListItem { Text = l.Nombre, Value = l.ID.ToString() }), new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label class="form-text">Línea de investigación</label>
            <input type="text" asp-for="TrabajoRecepcional.LineaDeInvestigacion" class="form-control" id="inputLineaDeInvestigacion">
        </div>

        <div class="clearfix">
            <input class="btn btn-secondary float-left" id="btnRegresarSeleccionarAlumno" type="button" value="Regresar" />
            <input class="btn btn-primary float-right" type="button" id="btnSeleccionarOpcionDeSinodal" value="Seleccionar opcion de sinodal" />
        </div>

    </div>

    <div id="seleccionarOpcionDeSinodal">
        <h2 class="form-text">Seleccione una opción</h2>
        <div class="form-group text-center p-4">
            <input class="btn btn-primary pt-4 pb-4 pr-5 pl-5" type="button" value="Registrar nuevo sinodal">
            <input class="btn btn-primary pt-4 pb-4 pr-5 pl-5" type="button" id="btnBuscarSinodal" value="Buscar sinodal" />
        </div>
        <div class="clearfix">
            <input class="btn btn-secondary float-left" id="btnRegresarSeleccionarTipoDeProyecto" type="button" value="Regresar" />
        </div>
    </div>

    <div id="buscarSinodal">
        <h2 class="form-text">Seleccione un sinodal</h2>
        <div class="form-group">
            <input class="form-control" type="search" placeholder="Buscar" />

            <div class="table-responsive">
                <table id="tblSinodales" class="table table-hover">
                    <tr>
                        <th>Nombre</th>
                        <th>Organización</th>
                        <th>Correo electrónico</th>
                        <th>Incluido</th>
                        <th>Tipo</th>
                    </tr>
                    @foreach (var integrante in Model.Integrantes)
                    {
                        <tr>
                            <td class="tdIntegranteID" hidden>@integrante.ID</td>
                            <td>@integrante.Nombre</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>X</td>
                            <td>N/A</td>
                        </tr>
                    }
                    @foreach (var sinodal in Model.Sinodales)
                    {
                        <tr>
                            <td class="tdSinodalID" hidden>@sinodal.ID</td>
                            <td>@sinodal.Nombre</td>
                            <td>@sinodal.Organizacion</td>
                            <td>@sinodal.CorreoElectronico</td>
                            <td>X</td>
                            <td>N/A</td>
                        </tr>
                    }
                </table>
            </div>

            <div class="float-right">
                <button class="btn btn-danger">Eliminar sinodal</button>
                <button class="btn btn-success">Añadir sinodal</button>
            </div>
        </div>

        <div class="form-group">
            <label class="form-text">Seleccione el tipo de sinodal</label>
            <select class="form-control">
                <option selected>Tipo de sinodal</option>
                <option value="1">Director</option>
                <option value="2">Codirector</option>
                <option value="3">Sinodal</option>
            </select>
        </div>

        <div class="clearfix">
            <input class="btn btn-secondary float-left" id="btnRegresarSeleccionarOpcionSinodal" type="button" value="Regresar" />
            <input class="btn btn-success float-right" id="btnRegistrarTrabajoRecepcional" type="submit" value="Registrar trabajo recepcional" />
        </div>
    </div>

    
</form>

<div class="d-flex justify-content-center" id="contenedorDePasoActual">
    <div class="rounded-circle bg-primary p-3 m-1 d-inline bg-secondary indicadorDePaso" id="pasoActual1"></div>
    <div class="rounded-circle bg-primary p-3 m-1 d-inline bg-secondary indicadorDePaso" id="pasoActual2"></div>
    <div class="rounded-circle bg-primary p-3 m-1 d-inline bg-secondary indicadorDePaso" id="pasoActual3"></div>
    <div class="rounded-circle bg-primary p-3 m-1 d-inline bg-secondary indicadorDePaso" id="pasoActual4"></div>
    <div class="rounded-circle bg-primary p-3 m-1 d-inline bg-secondary indicadorDePaso" id="pasoActual5"></div>
</div>

@section scripts {
    <script>
        function desasignarEventoPorDefectoDeTecla(numeroDeTecla) {
            let inputs = document.getElementsByTagName('input');

            let index;
            for (index = 0; index < inputs.length; index++) {
                let input = inputs[index];
                input.addEventListener('keydown', function (event) {
                    if (event.which === numeroDeTecla) {
                        event.preventDefault();
                    }
                });
            }
        }

        function populateAlumnos(jsonAlumnos) {
            let tblAlumnosBody = document.querySelector('#tblAlumnos > tbody');
            tblAlumnosBody.innerHTML = '';

            jsonAlumnos.forEach(element => {
                let row = document.createElement('tr');

                let tdID = document.createElement('td');
                tdID.classList.add('tdAlumnoID');
                tdID.appendChild(document.createTextNode(element.id));
                tdID.setAttribute('hidden', true);
                row.appendChild(tdID);

                let tdNombre = document.createElement('td');
                tdNombre.appendChild(document.createTextNode(element.nombre));
                row.appendChild(tdNombre);

                let tdMatricula = document.createElement('td');
                tdMatricula.appendChild(document.createTextNode(element.matricula));
                row.appendChild(tdMatricula);

                let tdCorreoElectronico = document.createElement('td');
                tdCorreoElectronico.appendChild(document.createTextNode(element.correoElectronico));
                row.appendChild(tdCorreoElectronico);

                tblAlumnosBody.appendChild(row);
            });

            asignarClicDeFilaDeTblAlumnos();
        }

        function asignarEnterDeBuscarAlumnos() {
            let searchBuscarAlumnos = document.getElementById('searchBuscarAlumnos');
            searchBuscarAlumnos.addEventListener('keydown', function (event) {
                if (event.which === @NUMERO_DE_TECLA_ENTER) {
                    let cadenaDeBusquedaAlumnos = document.getElementById('searchBuscarAlumnos').value;
                    let url = new URL('@URL_REGISTRAR_TRABAJO_RECEPCIONAL');
                    url.searchParams.append('handler', 'alumnos');
                    url.searchParams.append('cadenaDeBusqueda', cadenaDeBusquedaAlumnos);

                    let inputAlumnoID = document.getElementById('inputAlumnoID');
                    inputAlumnoID.setAttribute('value', 0);

                    fetch(url)
                        .then(response => {
                            if (response.ok) {
                                response.json().then(data => {
                                    populateAlumnos(data);
                                });
                            }
                            else if (response.status === 404) {
                                let tblAlumnosBody = document.querySelector('#tblAlumnos > tbody');
                                tblAlumnosBody.innerHTML = '';
                            }
                            else {
                                console.error('Error, la solicitud de alumnos fue exitosa pero el estado no está manejado', response);
                            }

                        }).catch(error => {
                            console.error('Error al cargar alumnos. ' + error.message);
                        }
                    );
                }
            });
        }

        function eliminarClasesDeElementos(elementos, clases) {
            let index;
            for (index = 0; index < elementos.length; index++) {
                let elemento = elementos[index];
                let indiceDeClases;
                for (indiceDeClases = 0; indiceDeClases < clases.length; indiceDeClases++) {
                    let clase = clases[indiceDeClases];
                    elemento.classList.remove(clase);
                }
            }
        }

        function agregarClasesAElemento(elemento, clases) {
            let indiceDeClases;
            for (indiceDeClases = 0; indiceDeClases < clases.length; indiceDeClases++) {
                let clase = clases[indiceDeClases];
                elemento.classList.add(clase);
            }
        }

        const clasesParaMarcarFilasSeleccionadas = [ 'bg-primary', 'bg-gradient', 'text-light'];

        function asignarClicDeFilaDeTblAlumnos() {
            let filasTblAlumnos = document.querySelector('#tblAlumnos > tbody').rows;
            let index;
            for (index = 0; index < filasTblAlumnos.length; index++) {

                let fila = filasTblAlumnos[index];
                fila.addEventListener('click', function (event) {
                    let target = event.currentTarget;
                    let idAlumno = target.querySelector('.tdAlumnoID').textContent;


                    let inputAlumnoID = document.getElementById('inputAlumnoID');
                    inputAlumnoID.setAttribute('value', idAlumno);
                    eliminarClasesDeElementos(filasTblAlumnos, clasesParaMarcarFilasSeleccionadas);
                    agregarClasesAElemento(fila, clasesParaMarcarFilasSeleccionadas);
                });
            }
        }

        function populateSelectTipoDeProyecto(jsonElementos, opcionSeleccionada) {
            let selectTipoDeProyecto = document.getElementById('selectTipoDeProyecto');
            selectTipoDeProyecto.innerHTML = '';

            let inputTipoDeProyectoID = document.getElementById('inputTipoDeProyectoID');
            let inputTipoDeProyecto = document.getElementById('inputTipoDeProyecto');
            inputTipoDeProyectoID.setAttribute('value', '');
            inputTipoDeProyecto.setAttribute('value', '');


            let elementoOptionDefault = document.createElement('option');
            elementoOptionDefault.setAttribute('hidden', true);
            elementoOptionDefault.setAttribute('disabled', true);
            elementoOptionDefault.setAttribute('selected', true);
            elementoOptionDefault.appendChild(document.createTextNode('Seleccione aquí'));
            selectTipoDeProyecto.appendChild(elementoOptionDefault);

            if (opcionSeleccionada === 'pladeafei') {
                for (const pladeafei of jsonElementos) {
                    let elementoOpcion = document.createElement('option');
                    elementoOpcion.value = pladeafei.id;
                    elementoOpcion.setAttribute('data-tipodeproyecto', opcionSeleccionada);
                    elementoOpcion.appendChild(document.createTextNode(pladeafei.accion));
                    selectTipoDeProyecto.appendChild(elementoOpcion);
                }
            }
            else if (opcionSeleccionada === 'proyectoDeInvestigacion') {
                for (const proyectoDeInvestigacion of jsonElementos) {
                    let elementoOpcion = document.createElement('option');
                    elementoOpcion.value = proyectoDeInvestigacion.id;
                    elementoOpcion.setAttribute('data-tipodeproyecto', opcionSeleccionada);
                    elementoOpcion.appendChild(document.createTextNode(proyectoDeInvestigacion.nombre));
                    selectTipoDeProyecto.appendChild(elementoOpcion);
                }
            }
            else if (opcionSeleccionada === 'vinculacion') {
                for (const vinculacion of jsonElementos) {
                    let elementoOpcion = document.createElement('option');
                    elementoOpcion.value = vinculacion.id;
                    elementoOpcion.setAttribute('data-tipodeproyecto', opcionSeleccionada);
                    elementoOpcion.appendChild(document.createTextNode(vinculacion.organizacionVinculada));
                    selectTipoDeProyecto.appendChild(elementoOpcion);
                }
            }
        }

        function asignarSeleccionASelectTipoDeProyecto() {
            function mostrarErrorTiposDeProyecto(respuesta) {
                if (response.status === 404) {
                    //delete all options
                }
                else {
                    console.error('Error, la solicitud de tipo de proyecto fue exitosa pero el estado no está manejado', response);
                }
            }

            let selectSeleccionarTipoDeProyecto = document.getElementById('selectSeleccionarTipoDeProyecto');
            let labelSeleccioneTipoDeProyecto = document.getElementById('lblSeleccioneTipoDeProyecto');
            let selectTipoDeProyecto = document.getElementById('selectTipoDeProyecto');
            selectTipoDeProyecto.setAttribute('disabled', true);



            selectSeleccionarTipoDeProyecto.addEventListener('change', function (event) {
                let url = new URL('@URL_REGISTRAR_TRABAJO_RECEPCIONAL');
                let handler;
                selectTipoDeProyecto.removeAttribute('disabled');
                let opcionSeleccionada = event.target.value;
                let existioError = false;

                if (opcionSeleccionada === 'pladeafei') {
                    labelSeleccioneTipoDeProyecto.textContent = 'Seleccione la PLADEAFEI';
                    handler = '@HANDLER_PLADEAFEI';
                }
                else if (opcionSeleccionada === 'proyectoDeInvestigacion') {
                    labelSeleccioneTipoDeProyecto.textContent = 'Seleccione el proyecto de investigación';
                    handler = '@HANDLER_PROYECTO_DE_INVESTIGACION';
                }
                else if (opcionSeleccionada === 'vinculacion') {
                    labelSeleccioneTipoDeProyecto.textContent = 'Seleccione la vinculación';
                    handler = '@HANDLER_VINCULACION';
                }
                else {
                    console.error('Error. Opcion seleccionada es nula o vacia', [opcionSeleccionada, selectSeleccionarTipoDeProyecto]);
                    existioError = true;
                }

                if (!existioError) {
                    url.searchParams.append('handler', handler);
                    fetch(url)
                        .then(response => {
                            if (response.ok) {
                                response.json().then(data => {
                                    populateSelectTipoDeProyecto(data, opcionSeleccionada);
                                }).catch(function (reason) {
                                    console.error(reason);
                                });
                            }
                            else {
                                mostrarErrorTiposDeProyecto(response);
                            }

                        }).catch(error => {
                            console.error('Error al cargar tipo de proyecto. ' + error.message);
                        });
                }
            });
        }

        function asignarClicASelectTipoDeProyecto() {
            let selectTipoDeProyecto = document.getElementById('selectTipoDeProyecto');
            selectTipoDeProyecto.addEventListener('change', function (event) {
                let elementoOptionSeleccionado = selectTipoDeProyecto.options[selectTipoDeProyecto.selectedIndex];
                let idTipoDeProyecto = event.target.value;
                let tipoDeProyecto = elementoOptionSeleccionado.getAttribute('data-tipodeproyecto');

                let inputTipoDeProyectoID = document.getElementById('inputTipoDeProyectoID');
                let inputTipoDeProyecto = document.getElementById('inputTipoDeProyecto');
                inputTipoDeProyectoID.setAttribute('value', idTipoDeProyecto);
                inputTipoDeProyecto.setAttribute('value', tipoDeProyecto);
            });
        }

        desasignarEventoPorDefectoDeTecla(@NUMERO_DE_TECLA_ENTER);
        asignarEnterDeBuscarAlumnos();
        asignarClicDeFilaDeTblAlumnos();
        asignarSeleccionASelectTipoDeProyecto();
        asignarClicASelectTipoDeProyecto();
    </script>

    <script id="stepsScript">

        function asignarLogicaDeCambioDePasosAFormulario() {
            let formRegistrarTrabajoRecepcional = document.getElementById('formRegistrarTrabajoRecepcional');
            for (const nodo of formRegistrarTrabajoRecepcional.children) {
                nodo.setAttribute('hidden', true);
            }

            let panelIdentificadores = document.getElementById('identificadores');
            let panelSeleccionarAlumnos = document.getElementById('seleccionarAlumnos');
            let panelSeleccionarTipoDeProyecto = document.getElementById('seleccionarTipoDeProyecto');
            let panelSeleccionarOpcionDeSinodal = document.getElementById('seleccionarOpcionDeSinodal');
            let panelBuscarSinodal = document.getElementById('buscarSinodal');
            panelIdentificadores.removeAttribute('hidden');

            let indicadorDePasoActual1 = document.getElementById('pasoActual1');
            indicadorDePasoActual1.classList.add('bg-primary');
            indicadorDePasoActual1.classList.remove('bg-secondary');

            let indicadorDePasoActual2 = document.getElementById('pasoActual2');
            let indicadorDePasoActual3 = document.getElementById('pasoActual3');
            let indicadorDePasoActual4 = document.getElementById('pasoActual4');
            let indicadorDePasoActual5 = document.getElementById('pasoActual5');

            function marcarIndicadorDePasoActual(indicadorDePasoActual, esPasoActual) {
                if (esPasoActual) {
                    indicadorDePasoActual.classList.add('bg-primary');
                    indicadorDePasoActual.classList.remove('bg-secondary');
                }
                else {
                    indicadorDePasoActual.classList.add('bg-secondary');
                    indicadorDePasoActual.classList.remove('bg-primary');
                }
            }

            function asignarClicABtnSeleccionarAlumnos() {
                let btnSeleccionarAlumnos = document.getElementById('btnSeleccionarAlumnos');
                btnSeleccionarAlumnos.addEventListener('click', function (event) {
                    panelIdentificadores.setAttribute('hidden', true);
                    panelSeleccionarAlumnos.removeAttribute('hidden');
                    marcarIndicadorDePasoActual(indicadorDePasoActual1, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual2, true);
                });
            }

            function asignarClicABtnSeleccionarTipoDeProyecto() {
                let btnSeleccionarTipoDeProyecto = document.getElementById('btnSeleccionarTipoDeProyecto');
                btnSeleccionarTipoDeProyecto.addEventListener('click', function (event) {
                    panelSeleccionarAlumnos.setAttribute('hidden', true);
                    panelSeleccionarTipoDeProyecto.removeAttribute('hidden');
                    marcarIndicadorDePasoActual(indicadorDePasoActual2, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual3, true);
                });
            }

            function asignarClicABtnSeleccionarOpcionDeSinodal() {
                let btnSeleccionarOpcionDeSinodal = document.getElementById('btnSeleccionarOpcionDeSinodal');
                btnSeleccionarOpcionDeSinodal.addEventListener('click', function (event) {
                    panelSeleccionarTipoDeProyecto.setAttribute('hidden', true);
                    panelSeleccionarOpcionDeSinodal.removeAttribute('hidden');
                    marcarIndicadorDePasoActual(indicadorDePasoActual3, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual4, true);
                });
            }

            function asignarClicABtnBuscarSinodal() {
                let btnBuscarSinodal = document.getElementById('btnBuscarSinodal');
                btnBuscarSinodal.addEventListener('click', function (event) {
                    panelSeleccionarOpcionDeSinodal.setAttribute('hidden', true);
                    panelBuscarSinodal.removeAttribute('hidden');
                    marcarIndicadorDePasoActual(indicadorDePasoActual4, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual5, true);
                });
            }

            function asignarClicBtnRegresarIdentificadores() {
                let btnRegresarIdentificadores = document.getElementById('btnRegresarIdentificadores');
                btnRegresarIdentificadores.addEventListener('click', function () {
                    panelSeleccionarAlumnos.setAttribute('hidden', true);
                    panelIdentificadores.removeAttribute('hidden');

                    marcarIndicadorDePasoActual(indicadorDePasoActual2, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual1, true);
                });
            }

            function asignarClicABtnRegresarSeleccionarAlumno() {
                let btnRegresarSeleccionarAlumno = document.getElementById('btnRegresarSeleccionarAlumno');
                btnRegresarSeleccionarAlumno.addEventListener('click', function () {
                    panelSeleccionarTipoDeProyecto.setAttribute('hidden', true);
                    panelSeleccionarAlumnos.removeAttribute('hidden');

                    marcarIndicadorDePasoActual(indicadorDePasoActual3, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual2, true);
                });
            }

            function asignarClicABtnRegresarSeleccionarTipoDeProyecto() {
                let btnRegresarSeleccionarTipoDeProyecto = document.getElementById('btnRegresarSeleccionarTipoDeProyecto');
                btnRegresarSeleccionarTipoDeProyecto.addEventListener('click', function () {
                    panelSeleccionarOpcionDeSinodal.setAttribute('hidden', true);
                    panelSeleccionarTipoDeProyecto.removeAttribute('hidden');

                    marcarIndicadorDePasoActual(indicadorDePasoActual4, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual3, true);
                });
            }

            function asignarClicABtnRegresarSeleccionarOpcionSinodal() {
                let btnRegresarSeleccionarOpcionSinodal = document.getElementById('btnRegresarSeleccionarOpcionSinodal');
                btnRegresarSeleccionarOpcionSinodal.addEventListener('click', function () {
                    panelBuscarSinodal.setAttribute('hidden', true);
                    panelSeleccionarOpcionDeSinodal.removeAttribute('hidden');

                    marcarIndicadorDePasoActual(indicadorDePasoActual5, false);
                    marcarIndicadorDePasoActual(indicadorDePasoActual4, true);
                });
            }

            asignarClicABtnSeleccionarAlumnos();
            asignarClicABtnSeleccionarTipoDeProyecto();
            asignarClicABtnSeleccionarOpcionDeSinodal();
            asignarClicABtnBuscarSinodal();
            asignarClicBtnRegresarIdentificadores();
            asignarClicABtnRegresarSeleccionarAlumno();
            asignarClicABtnRegresarSeleccionarTipoDeProyecto();
            asignarClicABtnRegresarSeleccionarOpcionSinodal();
        }

        asignarLogicaDeCambioDePasosAFormulario();
    </script>
}